@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#this-home-header {
    position: fixed;
    z-index: 1000;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto";
    gap: 10px;
    padding-left: 10px;
    width: 100%;
    height: 10vh;
}

#this-home-header img {
    width: 120px;
    border-radius: 10px;
}

#this-home-img {
    height: 85%;
    align-self: center;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.253);
}

#this-home-header h2 {
    font-family: "JetBrain Mono", monospace;
    font-size: 30px;
    color: #ffffffec;
    font-weight: 300;
    padding-left: 5px;
}

#this-home-main-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(8, 8, 8), rgb(24, 24, 24));
    display: flex;
    justify-content: center;
}

#this-home-container {
    width: 35%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#redirect-btns-container a {
    font-family: "JetBrains Mono", monospace;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.13);
    transition: all 0.3s ease;
    border-radius: 5px;
}

#redirect-btns-container a:hover {
    background-color: #fd6f2d;
}

#redirect-btns-container {  
    width: 100%;
    height: 70%;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.13);
    position: relative;
    padding-bottom: 10%;
}

#redirect-btns-container img {
    width: 600px;
    position: absolute;
    top: -100px;
}

#or-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}

#or-container hr {
    width: 20% !important;
    border: none;
    border-top: 1px solid #ccc; /* cor e espessura da linha */
    margin: 10px 0;
}

#mobile-heading {
    width: 0px;
    opacity: 0;
}

#mobile-icon {
    width: 0px !important;
}

#go-in-unauth {
    width: 50%;
    height: 50px;
    position: absolute;
    top: 86%;
    left: 0;
    background-color: #1123c700;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    color: white;
    font-family: "JetBrains Mono";
    font-weight: 300;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

#go-in-unauth:hover {
    background-color: #fd6f2d;
}

.is-new-user {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 17px;
}

@media (max-width: 900px) and (min-width: 400px) {
    #redirect-btns-container img {
        width: 0;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    #this-home-img {
        border: none;
        width: 0px;
    }

    #this-home-container {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: flex-start;
        align-items: center;
    }

    #redirect-btns-container {
        margin-top: 30px;
        width: 90%;
        height: 40%;
    }

    #mobile-heading {
        width: auto;
        margin-bottom: 10px;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 25px;
    }

    #this-home-header h2 {
        font-size: 0px;
    }

    #mobile-icon {
        position: absolute;
        width: 300px !important;
        bottom: 0;
    }

    #go-in-unauth {
        width: 300px;
        top: 54%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 400px) {
    #this-home-header img {
        width: 80px;
    }

    #redirect-btns-container img {
        width: 0;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    #this-home-img {
        border: none;
        width: 0px;
    }

    #this-home-container {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: flex-start;
        align-items: center;
    }

    #redirect-btns-container {
        width: 90%;
        height: 40%;
    }

    #mobile-heading {
        width: auto;
        margin-bottom: 10px;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 25px;
    }

    #this-home-header h2 {
        font-size: 0px;
    }

    #mobile-icon {
        position: absolute;
        width: 300px !important;
        bottom: 0;
    }

    #go-in-unauth {
        width: 300px;
        top: 56%;
        left: 50%;
        transform: translateX(-50%);
    }
}



