@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#validate-code-main-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(8, 8, 8), rgb(14, 14, 14));
}

#validate-code-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.171);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
    gap: 10px;
}

#validate-code-container h2 {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}

#resend-code-span {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    align-self: flex-start;
    transition: all 0.3s ease;
}

#resend-code-span.disabled {
    color: rgba(255, 255, 255, 0.692);
}

#resend-code-span.unabled {
    color: rgba(255, 255, 255, 0.973);
    cursor: pointer;
}

#validate-code-ctn {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.validate-code-error-message {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 62, 62);
    height: 10px;
    transition: all 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
}

#validate-code-input:focus {
    background-color: rgba(34, 34, 34, 0.911);
    outline: none;
    border-bottom: 1px solid #fc7c40;
}

#validate-code-input {
    width: 100%;
    background-color: rgba(26, 26, 26, 0.685);
    height: 40px;
    padding: 0;
    border: 1px solid rgba(26, 26, 26, 0.685);
    border-bottom: 1px solid #FF6823;
    padding-left: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    transition: all 0.3s ease;
    color: white;
}

#validate-code-input button:hover {
    background-color: #5e6eff;
}

#validate-code-input button {
    position: absolute;
    width: 20%;
    height: 90%;
    right: 0;
    border: none;
    background-color: #3a4eff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#resend-code-btn:hover {
    background-color: #5e6eff;
}

#resend-code-btn {
    margin-top: 40px;
    width: 25% ;
    font-family: "Roboto";
    height: 40px;
    border: none;
    background-color: #3a4eff;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    margin-left: 5%;
}

@media (max-width: 900px) {
    #main-container {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    #this-home-img {
        border: none;
        width: 0px;
    }

    #this-home-container {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: flex-start;
        align-items: center;
    }

    #validate-code-container {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }

    #validate-code-container h2 {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 18px;
        margin-top: 10px !important;
        margin: 0;
        text-align: center;
    }

    #mobile-heading {
        width: auto;
        margin-bottom: 10px;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 25px;
    }

    #this-home-header h2 {
        font-size: 0px;
    }

    #validate-code-ctn {
        width: 70%;
    }
}

@media (max-width: 400px) {
    #validate-code-ctn {
        width: 80%;
    }

    #validate-code-container {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
}