@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#reset-password-main-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(8, 8, 8), rgb(14, 14, 14));
}

#reset-password-container, #reset-password-success {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.171);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
    gap: 5px;
}

#reset-password-container h2, #reset-password-success h2 {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}

#reset-password-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-password-container div {
    display: flex;
    position: relative;
    width: 75%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-password-container div img {
    height: 95%;
    top: 3%;
    position: absolute;
    right: 0%;
    padding: 6px;
    transition: all 0.3s ease;
    filter: invert(100%);

}

#reset-password-container div img:hover {
    background-color: rgba(44, 44, 44, 0.158);
}

#reset-password-container div input {
    width: 100%;
}

#reset-password-container input {
    width: 75%;
    background-color: rgba(26, 26, 26, 0.685);
    height: 40px;
    padding: 0;
    border: 1px solid rgba(26, 26, 26, 0.685);
    border-bottom: 1px solid #FF6823;
    padding-left: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    transition: all 0.3s ease;
    color: white;
}

#confirm-password-input {
    margin-bottom: 30px;
}

#reset-password-container form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#reset-password-container input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.555);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
}

.reset-password-error-message {
    margin-left: 20% !important;
    width: 95%;
    font-size: 14px;
    color: rgb(255, 62, 62);
    height: 10px;
    transition: all 0.2s ease;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#reset-password-header {
    position: fixed;
    z-index: 1000;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto";
    gap: 10px;
    width: 100vw;
    height: 10vh;
}

#reset-password-header img {
    width: 120px;
    border-radius: 10px;
}

#reset-password-header h2 {
    font-family: "JetBrain Mono", monospace;
    font-size: 30px;
    color: #ffffffec;
    font-weight: 300;
    padding-left: 5px;
}

.reset-password-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40px;
    padding: 0;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    background-color: #3a4eff;
    border-radius: 7px;
}

.reset-password-btn:hover {
    background-color: #5e6eff;
}

@media (max-width: 900px) {
    #main-container {
        display: flex;
        flex-direction: column;
        width: 100vw !important;
    }

    #reset-password-container {
        width: 90%;
    }

    #reset-password-container form button {
        width: 40%;
    }

    #reset-password-success {
        width: 90%;
        height: 40%;
        text-align: center;
    }

    #reset-password-success button {
        width: 50%;
    }

    #reset-password-success h2 {
        font-size: 20px;
    }

    .reset-password-error-message {
        margin-left: 0 !important;
        width: fit-content;
        font-size: 10px;
    }
}